    p {
        border: 1px solid white;
        padding: 20px;
       
        color: white;
        width: 50%;
        
    }
    
    
    body {
        background: url(http://sugdiwa.github.io/Restaurant/img/service9.jpg);
        background-repeat: no-repeat;
background-size: cover;
font-style:bold;
color: solid black ; 

    }
    
    #map {
        position: fixed !important;
        top: 100px;
        right: 20px;
        float: right;
        height: 500px;
        width: 45%;
    }
